# Compiled Object files
*.slo
*.lo
*.o
*.page
# Compiled Dynamic libraries
*.so
*.dylib
*.page
# Compiled Static libraries
*.lai
*.la
*.a
*~
*.Rcheck
*.rds
*pyc
.Rhistory
*.dll
# R
.Rproj.user
.Rhistory
.RData
.Ruserdata
R-package/*.Rproj

#CLion
.idea

#cmake
cmake-build-debug

#python build
!python-package/lib/*
python-package/build
python-package/dist
python-package/*.egg-info/

