useDynLib("picasso", .registration=TRUE)
import("MASS","Matrix")
export("picasso",
       "print.gaussian",
       "plot.gaussian",
       "coef.gaussian",
       "predict.gaussian",
       "print.logit",
       "plot.logit",
       "coef.logit",
       "predict.logit",
       "print.poisson",
       "plot.poisson",
       "coef.poisson",
       "predict.poisson",
       "coef.sqrtlasso",
       "print.sqrtlasso",
       "plot.sqrtlasso",
       "coef.sqrtlasso"
      )
importFrom("grDevices", "dev.off", "gray.colors", "postscript")
importFrom("graphics", "lines", "matplot", "par", "plot")
importFrom("stats", "cor", "cov", "runif")
importFrom("methods", "new")
S3method("print", "gaussian")
S3method("plot", "gaussian")
S3method("coef", "gaussian")
S3method("predict", "gaussian")
S3method("print", "logit")
S3method("plot", "logit")
S3method("coef", "logit")
S3method("predict", "logit")
S3method("print", "poisson")
S3method("plot", "poisson")
S3method("coef", "poisson")
S3method("predict", "poisson")
S3method("print", "sqrtlasso")
S3method("plot", "sqrtlasso")
S3method("coef", "sqrtlasso")
S3method("predict", "sqrtlasso")