include *.md *.rst
recursive-include lib *
recursive-include data *
recursive-include pycasso *
recursive-include pycasso/include *
recursive-include pycasso/src *
recursive-include pycasso/lib *
recursive-include pycasso/dmlc-core *
#exclude pre-compiled .o and .a file for less confusions
#make sure .a files are all removed for forcing compiling
#include the pre-compiled .so is needed as a placeholder
#since it will be copy after compiling on the fly
global-exclude *.o
global-exclude *.a
global-exclude *.pyo
global-exclude *.pyc
