useDynLib("picasso", .registration=TRUE)
import("MASS","Matrix")
export("picasso",
       "print.gaussian",
       "plot.gaussian",
       "coef.gaussian",
       "predict.gaussian",
       "print.logit",
       "plot.logit",
       "coef.logit",
       "predict.logit",
       "print.poisson",
       "plot.poisson",
       "coef.poisson",
       "predict.poisson",
       "coef.sqrtlasso",
       "print.sqrtlasso",
       "plot.sqrtlasso",
       "predict.sqrtlasso",
       "print.multinomial",
       "plot.multinomial",
       "coef.multinomial",
       "predict.multinomial",
       "cv.picasso",
       "print.cv.picasso",
       "plot.cv.picasso",
       "coef.cv.picasso",
       "predict.cv.picasso",
       "assess.picasso",
       "print.assess.picasso",
       "confusion.picasso"
      )
importFrom("grDevices", "dev.off")
importFrom("graphics", "abline", "lines", "matplot", "par", "plot")
importFrom("stats", "coef", "cor", "cov", "predict", "runif", "sd")
importFrom("methods", "new")
S3method("print", "gaussian")
S3method("plot", "gaussian")
S3method("coef", "gaussian")
S3method("predict", "gaussian")
S3method("print", "logit")
S3method("plot", "logit")
S3method("coef", "logit")
S3method("predict", "logit")
S3method("print", "poisson")
S3method("plot", "poisson")
S3method("coef", "poisson")
S3method("predict", "poisson")
S3method("print", "sqrtlasso")
S3method("plot", "sqrtlasso")
S3method("coef", "sqrtlasso")
S3method("predict", "sqrtlasso")
S3method("print", "multinomial")
S3method("plot", "multinomial")
S3method("coef", "multinomial")
S3method("predict", "multinomial")
S3method("print", "cv.picasso")
S3method("plot", "cv.picasso")
S3method("coef", "cv.picasso")
S3method("predict", "cv.picasso")
S3method("print", "assess.picasso")
